DB_CONNECTION = {
    'HOST': '127.0.0.1',
    'PORT': 5432,
    'USER': '{{ remote_project_user }}',
    'PASSWORD': '{{ user_db_password }}',
    'DATABASE': '{{ mail_db_name }}',
}
BOUNCED_EMAIL_DOMAIN = '{{ bounce_domain }}'
INBOUND_EMAIL_DOMAIN = '{{ reply_domain }}'

INBOUND_URL = '{{ inbound_url }}'
BOUNCED_URL = '{{ bounced_url }}'

EVENTS_URLS = {
    {% if inbound_url %}
        'inbound': INBOUND_URL,
    {% endif %}
    {% if bounced_url %}
       'bounced': BOUNCED_URL,
    {% endif %}
}

WEBHOOK_INBOUND_KEY = b'{{ webhook_inbound_key }}'
WEBHOOK_BOUNCES_KEY = b'{{ webhook_bounces_key }}'

IGNORE_EMAIL_LIST = ('{{ remote_project_user }}@{{ bounce_domain }}', '{{ remote_project_user }}@localhost',)
X_MAILKEEPER_HEADER = '{{ mailkeeper_http_header }}'

QUEUE_NAME = '{{ rabbitmq_queue_name }}'

LOGGING = {
    'version': 1,
    'formatters': {
        'verbose': {
            'format': '%(asctime)s %(levelname)s %(module)s %(process)d %(message)s'
         },
    },
    'handlers': {
        'console': {
            'class': 'logging.StreamHandler',
            'formatter': 'verbose'
        },
        'log_main': {
            'formatter': 'verbose',
            'class': 'logging.FileHandler',
            'filename': '{{ remote_user_home_dir }}var/logs/mailkeeper.log',
        },
    },
    'loggers': {
        '': {
            'handlers': ['console', 'log_main'],
            'level': 'DEBUG',
        }
    }
}
